@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* ------------------Header style---------------- */
/* ---------------------------------------------- */

header {
    background-color: #161644;
    height: 70px;
    line-height: 70px;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.links {
    display: flex;
    gap: 30px;
}

.user-box {
    height: 50px;
    width: 50px;
}

.user-box img {
    border-radius: 50%;
}

.links-container ::placeholder {
    color: #bebeda;
    font-weight: 500;
}

.links-container input {
    height: 40px;
    border-radius: 6px;
    background: #4A4A6E url(../img/loupe.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: 8px;
    padding: 0px 20px 0px 38px;
    color: #fff;
}

header a:not(.flixtree) {
    color: #fff;
    font-size: 18px;    
}

.flixtree {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/* ------------Movie details style-------------- */
/* --------------------------------------------- */

main {
    background-color: #1F1F44;
    height: calc(100% - 70px);
}

.content {
    height: 100%;
    display: grid;
    place-items: center;
}

section {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 80%;
}

.movie-details {
    width: 60%;
}

.movie-poster {
    width: 40%;
    height: 100%;
}

.movie-poster img {
    border-radius: 10px;
}

.movie-title-detail {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}

.duration {
    padding-right: 8px;
}

.genre {
    padding: 0px 8px 0px 8px;
}

.released {
    padding-left: 8px;
}

.video-quality {
    margin: 10px 0px;
    padding: 5px 0px 10px 0px;
}

.video-quality span {
    border: 2px solid #bebeda;
    padding: 4px 10px;
    font-weight: 500;
    border-radius: 4px;
}

.video-quality span + span {
    margin-left: 10px;
}

.movie-plot {
    line-height: 1.5;
}

.actions {
    padding: 20px 0px;
}

.fa-play {
    padding-right: 4px;
}

.watch, .add {
    height: 40px;
    width: 180px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: #fff;
}

.watch {
    background-color: #3c71da;
    margin-right: 10px;
}

.watch:hover {
    background-color: #3969ca;
}

.add {
    background-color: transparent;
    border: 2px solid #bebeda;
}

.add:hover {
    border-color: #fff;
}

.starring h2 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 6px;
}
