@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* body {
    font-weight: 600;
} */

/* ------------------Header style---------------- */
/* ---------------------------------------------- */

header {
    background-color: #161644;
    height: 70px;
    line-height: 70px;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.links {
    display: flex;
    gap: 30px;
}

.user-box {
    height: 50px;
    width: 50px;
}

.user-box img {
    border-radius: 50%;
}

.links-container ::placeholder {
    color: #bebeda;
    font-weight: 500;
}

.links-container input {
    height: 40px;
    border-radius: 6px;
    background: #4A4A6E url(../img/loupe.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: 8px;
    padding: 0px 20px 0px 38px;
    color: #fff;
}

header a:not(.flixtree) {
    color: #fff;
    font-size: 18px;    
}

.flixtree {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/* ------------------Main style------------------ */
/* ---------------------------------------------- */

main {
    height: 100%;
    background-color: #1F1F44;
}

.content {
    padding-top: 40px;
}

h1 {
    padding-bottom: 20px;
    font-size: 20px;
}

.movies-box {
    display: flex;
    gap: 20px;
}

.movies-box > div {
    position: relative;
}

.popular-movie {
    border-radius: 12px;
}

.friend {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px 0px 8px 8px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    background: linear-gradient(to top, rgba(0 0 0), transparent);
}

.friend img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
}