@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* body {
    font-weight: 600;
} */

/* ------------------Header style---------------- */
/* ---------------------------------------------- */

header {
    background-color: #161644;
    height: 70px;
    line-height: 70px;
}

header > nav {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.links {
    display: flex;
    gap: 30px;
}

.user-box {
    height: 50px;
    width: 50px;
}

.user-box img {
    border-radius: 50%;
}

.links-container ::placeholder {
    color: #bebeda;
    font-weight: 500;
}

.links-container input {
    height: 40px;
    border-radius: 6px;
    background: #4A4A6E url(../img/loupe.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: 8px;
    padding: 0px 20px 0px 38px;
    color: #fff;
}

header a:not(.flixtree) {
    color: #fff;
    font-size: 18px;    
}

.flixtree {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

/* ------------Popular movies style-------------- */
/* ---------------------------------------------- */

main {
    background-color: #1F1F44;
}

.content {
    padding: 40px 0px;
}

h1 {
    padding-bottom: 20px;
    font-size: 20px;
}

.movies-box {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
}

.movies-box > div {
    position: relative;
    transition: all 0.25s ease-in-out;
}

.movies-box > div:hover {
    transform: scale(1.05);
}

.popular-movie {
    border-radius: 12px;
}

.friend {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px 0px 8px 8px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    background: linear-gradient(to top, rgba(0 0 0), transparent);
}

.friend img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
}

/* -----------Featured movies style------------- */
/* --------------------------------------------- */

.featured-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    margin-top: 60px;
    padding: 30px;
    display: flex;
    gap: 20px;
    height: 320px;
    width: 70%;
    background-color: #161644;
    border-radius: 20px;
    border: 2px solid #4A4A6E;
}

.featured-img {
    transition: all 0.25s ease-in-out;
    width: 25%;
}

.featured-img:hover {
    transform: scale(1.05);
}

.movie-info {
    width: 75%;
}

.featured-img img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.rater {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.featured-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.featured-heading > div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.movie-title {
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 1.2;
}

.fa-star:not(.empty-star) {
    color: #E5A265;
}

.empty-star {
    color: #4A4A6E;
}

.fa-star:first-of-type {
    padding-left: 10px;
}

.add-to-list {
    padding: 6px;
    background-color: #3c71da;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 180px;
}

.add-to-list:hover {
    background-color: #3969ca;
}

.movie-descrip {
    line-height: 1.6;
}